.cardContainer {
  margin: 10px 0px;
  backdrop-filter: blur(8px);
  background-color: #1e3a58;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Cambiado a 100% para que las tarjetas ocupen todo el ancho disponible */
  max-height: 300px;

  border: 1px solid black;
  border-radius: 19px;
  box-shadow: 10px 8px 12px #0000008c;
  transition: all 0.5s ease-in-out;
}

.link {
  text-decoration: none;
}

.cardContainer:hover {
  transform: scale(1.03);
}

.cardImageContainer > img {
  margin-top: 20px;
  width: 280px;
  height: 150px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.cardTextContainer > h2 {
  font-size: 30px;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
}

.cardTextContainer > h3 {
  font-size: 16px;
  color: white;
  margin: 10px;
}