.searchBar {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  backdrop-filter: blur(4px);
}

.inputSearchBar {
  width: 300px;
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  border: 0;
  margin-left: 20px;
  outline: none;
  font-size: 20px;
  color: #cac7ff;
}

.buttonSearch {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.resultsContainer {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  max-height: 120px; /* Limitando el tamaño de la lista */
  overflow-y: auto; /* Agregando scroll cuando se excede la altura */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.resultsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resultItem {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s; /* Agregar una transición suave */
}

.resultItem:hover {
  background-color: #507eda; /* Cambiar el color al pasar el mouse */
}

.flagImage {
  width: 30px;
  height: 20px;
  margin-right: 10px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.countryName {
  font-size: 16px;
  text-align: start; /* Centrar el nombre */
}