.searchBar {
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  max-width: 500px;
  border-radius: 60px;
  backdrop-filter: blur(4px);
}

.inputSearchBar {
  width: 300px;
  background: transparent;
  padding: 0px 0px;
  border: 0;
  margin-left: 20px;
  outline: none;
  font-size: 20px;
  color: #cac7ff;
  transition: all 0.6s ease;
}

.buttonSearch {
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  background: #1a324c;
}

.buttonSearch:hover {
  border: 3px solid white;
  background: white;
  transition: all 0.6s ease;
}