/* Home.module.css */

/* Estilos para los filtros */
.filterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
  }
  
  .filterContainer [data-filter="true"] {
    font-size: 16px;
    padding: 8px;
    border: 2px solid #1E3A58;
    border-radius: 5px;
    background-color: #FFF;
    color: #1E3A58;
    cursor: pointer;
  }
  
  /* Añadir más estilos según sea necesario */
  